# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/xcshareddata/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Build
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/
*.podspec.json

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# macOS
.DS_Store

# Environment / secrets
*.env
Secrets.swift
GoogleService-Info.plist